<%= form_for(@service, html: { class: 'tab-content form-horizontal service_form' }, test: :test ) do |f| %>

  <fieldset class="border-left dotted green">
    <div class="form-group">
      <%= f.label :nome, 'Nome do Serviço:', class: 'col-sm-2' %>
      <div class="col-sm-4">
          <%= f.text_field :nome, class: "form-control input-lg" %>
      </div>
    </div>
    
    <%= f.hidden_field :preco_fixo %>
  </fieldset>
  
  <%= f.fields_for :prices do |builder| %>
    <%= render 'price_fields', f: builder, hide_optionals: @service.preco_fixo %>
  <% end %>
  
  <div class="form-group">
    <%= link_to_add_fields(f, :prices) %>
  </div>

  <div class="panel-footer mt-30">
    <ul class="pager wizard no-margin">
      <li class="mr-15">
        <%= link_to 'Cancelar', services_path, class: 'btn btn-warning btn-lg', data: { disable_with: "Cancelar" } %>
      </li>
      <li>
        <%= button_tag 'Salvar', class: "btn btn-success btn-lg btn-next", type: 'submit' %>
      </li>
    </ul>
  </div>
<% end %>
