<h1>Listagem de Serviços</h1>

<table id="table" class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preco</th>
      <th>Safiras (Divulgação)</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.nome %></td>
        <td><%= number_to_currency(service.preco) %></td>
        <td><%= service.recompensa_divulgacao %></td>
        <td>
          <%= link_to service, class: 'btn btn-success btn-xs', title: 'Consultar' do %>
            <i class='fa fa-eye fa-border'></i>
          <% end %>
          <%= link_to edit_service_path(service), class: 'btn btn-warning btn-xs', title: 'Editar' do %>
            <i class='fa fa-pencil fa-border'></i>
          <% end %>
          <%= link_to service, method: :delete, data: { confirm: 'Deletar registro?' }, class: 'btn btn-danger btn-xs', title: 'Excluir' do %>
            <i class='fa fa-times fa-border'></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Serviço', new_service_path, class: 'btn btn-success btn-xs' %>
