<%= content_for :title, 'Consultar Serviço | SafiraSalões' %>
<p id="notice"><%= notice %></p>

<% @service.prices_ordered.each do |price| %>
  <fieldset class="border-left dotted orange mt-30">
    <div class="form-group col-sm-12">
      <span class="text-strong">
        <%= @service.nome %>
      </span>
      para
      <span class="text-strong">
        <%= price.descricao.blank? ? 'todos os clientes' : price.descricao %>
      </span>
      :
      <span class="text-strong">
        <%= number_to_currency(price.preco) %>
      </span>
      com recompensa por divulgação de
      <span class="text-strong">
        <%= rec = price.recompensa_divulgacao; pluralize(rec, 'safira') %> (<%= number_to_currency(rec.to_f / 2) %>)
      </span>
    </div>
  </fieldset>
<% end %>

<div class="panel-footer mt-30">
  <ul class="pager wizard no-margin">
    <li class="mr-15">
      <%= link_to 'Voltar', services_path, class: 'btn btn-warning btn-lg', data: { disable_with: "Voltar" } %>
    </li>
    <li>
      <%= link_to 'Editar', edit_service_path(@service), class: "btn btn-success btn-lg btn-next" %>
    </li>
  </ul>
</div>
