<%= content_for :title, 'Consultar Serviço | SafiraSalões' %>
<p id="notice"><%= notice %></p>

<h1>
  Consultar Serviço
</h1>

<p>
  <strong>Nome:</strong>
  <%= @service.nome %>
</p>

  <% @service.prices_ordered.each do |price| %>
    <p <%= "class=padd-left" unless @service.preco_fixo %>>
      <strong><%= "#{price.descricao}:" unless @service.preco_fixo %></strong>
    </p>
    <p <%= "class=padd-left2x" unless @service.preco_fixo %>>
      <strong>Preço</strong>
      <%= number_to_currency(price.preco) %>
    </p>
    <p <%= "class=padd-left2x" unless @service.preco_fixo %>>
      <strong>Recompensa Por Divulgação:</strong>
      <%= rec = price.recompensa_divulgacao; pluralize(rec, 'safira') %> (<%= number_to_currency(rec / 2) %>)
    </p>
  <% end %>


<%= link_to 'Editar', edit_service_path(@service) %> |
<%= link_to 'Voltar', services_path %>
