<%= content_for :title, 'Consultar Serviço | SafiraSalões' %>
<p id="notice"><%= notice %></p>

<fieldset class="border-left dotted green">
  <div class="form-group col-sm-12">
    <strong class="col-sm-2">Nome:</strong>
    <div class="col-sm-4">
      <%= @service.nome %>
    </div>
  </div>
</fieldset>


<% @service.prices_ordered.each do |price| %>
  <fieldset class="border-left dotted orange mt-30">
    <% unless @service.preco_fixo %>
      <div class="form-group col-sm-12">
        <strong class="col-sm-2">Descrição: </strong>
        <div class="col-sm-6">
          <%= price.descricao %>
        </div>
      </div>
    <% end %>

    <div class="form-group col-sm-12">
      <strong class="col-sm-2">Preço: </strong>
      <div class="col-sm-4">
        <%= number_to_currency(price.preco) %>
      </div>
    </div>

    <div class="form-group col-sm-12">
      <strong class="col-sm-2">Recompensa Por Divulgação: </strong>
      <div class="col-sm-4">
        <%= rec = price.recompensa_divulgacao; pluralize(rec, 'safira') %> (<%= number_to_currency(rec / 2) %>)
      </div>
    </div>
  </fieldset>
<% end %>

<div class="panel-footer mt-30">
  <ul class="pager wizard no-margin">
    <li class="mr-15">
      <%= link_to 'Voltar', services_path, class: 'btn btn-warning btn-lg', data: { disable_with: "Voltar" } %>
    </li>
    <li>
      <%= link_to 'Editar', edit_service_path(@service), class: "btn btn-success btn-lg btn-next" %>
    </li>
  </ul>
</div>
