<p id="notice"><%= notice %></p>

<h1>
  Consultar Serviço
</h1>

<p>
  <strong>Nome:</strong>
  <%= @service.nome %>
</p>

<p>
  <strong>Preco:</strong>
  <%= number_to_currency(@service.preco) %>
</p>

<p>
  <strong>Safiras (Divulgação):</strong>
  <%= @service.recompensa_divulgacao %>
</p>

<%= link_to 'Editar', edit_service_path(@service) %> |
<%= link_to 'Voltar', services_path %>
