<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @service.nome %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @service.preco %>
</p>

<p>
  <strong>Hora duracao:</strong>
  <%= @service.hora_duracao %>
</p>

<p>
  <strong>Minuto duracao:</strong>
  <%= @service.minuto_duracao %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
