<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

    <!-- START @HEAD -->
    <head>
        <!-- START @META SECTION -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title><%= ( title =  yield(:title) ).present? ? title : 'SafiraSaloes' %></title>
        <!--/ END META SECTION -->

        <!-- START @FAVICONS -->
        <!--<link href="../../../img/ico/apple-touch-icon-144x144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">-->
        <!--<link href="../../../img/ico/apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">-->
        <!--<link href="../../../img/ico/apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">-->
        <!--<link href="../../../img/ico/apple-touch-icon-57x57-precomposed.png" rel="apple-touch-icon-precomposed">-->
        <!--<link href="../../../img/ico/apple-touch-icon.png" rel="shortcut icon">-->
        <%= favicon_link_tag      'favicon.png', rel: "shortcut icon" %>
        <!--/ END FAVICONS -->

        <!-- START @FONT STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet">
        <!--/ END FONT STYLES -->

        <%= render "layouts/hotjar.html" if Rails.env.production? %>
        <%= stylesheet_link_tag   'application', media: 'all' %>
        <%= csrf_meta_tags %>

        <!-- START @IE SUPPORT -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="../../../assets/global/plugins/bower_components/html5shiv/dist/html5shiv.min.js"></script>
        <script src="../../../assets/global/plugins/bower_components/respond-minmax/dest/respond.min.js"></script>
        <![endif]-->
        <!--/ END IE SUPPORT -->
    </head>
    <!--/ END HEAD -->

    <!--

    |=========================================================================================================================|
    |  TABLE OF CONTENTS (Use search to find needed section)                                                                  |
    |=========================================================================================================================|
    |  01. @HEAD                        |  Container for all the head elements                                                |
    |  02. @META SECTION                |  The meta tag provides metadata about the HTML document                             |
    |  03. @FAVICONS                    |  Short for favorite icon, shortcut icon, website icon, tab icon or bookmark icon    |
    |  04. @FONT STYLES                 |  Font from google fonts                                                             |
    |  05. @GLOBAL MANDATORY STYLES     |  The main 3rd party plugins css file                                                |
    |  06. @PAGE LEVEL STYLES           |  Specific 3rd party plugins css file                                                |
    |  07. @THEME STYLES                |  The main theme css file                                                            |
    |  08. @IE SUPPORT                  |  IE support of HTML5 elements and media queries                                     |
    |=========================================================================================================================|
    |  09. @BODY                        |  Contains all the contents of an HTML document                                      |
    |  10. @WRAPPER                     |  Wrapping page section                                                              |
    |  11. @HEADER                      |  Header page section contains about logo, top navigation, notification menu         |
    |  12. @SIDEBAR LEFT                |  Sidebar page section contains all sidebar menu left                                |
    |  13. @PAGE CONTENT                |  Contents page section contains breadcrumb, content page, footer page               |
    |  14. @SIDEBAR RIGHT               |  Sidebar page section contains all sidebar menu right                               |
    |  15. @BACK TOP                    |  Element back to top and action                                                     |
    |=========================================================================================================================|
    |  16. @CORE PLUGINS                |  The main 3rd party plugins script file                                             |
    |  17. @PAGE LEVEL PLUGINS          |  Specific 3rd party plugins script file                                             |
    |  18. @PAGE LEVEL SCRIPTS          |  The main theme script file                                                         |
    |=========================================================================================================================|

    START @BODY
    |=========================================================================================================================|
  |  TABLE OF CONTENTS (Apply to body class)                                                                                |
  |=========================================================================================================================|
    |  01. page-boxed                   |  Page into the box is not full width screen                                         |
  |  02. page-header-fixed            |  Header element become fixed position                                               |
  |  03. page-sidebar-fixed           |  Sidebar element become fixed position with scroll support                          |
  |  04. page-sidebar-minimize        |  Sidebar element become minimize style width sidebar                                |
  |  05. page-footer-fixed            |  Footer element become fixed position with scroll support on page content           |
  |  06. page-sound                   |  For playing sounds on user actions and page events                                 |
  |=========================================================================================================================|

  -->
    <body class="page-header-fixed">
        <%= render "layouts/fb_sdk.html" %>

        <!--[if lt IE 9]>
        <p class="upgrade-browser">Upps!! You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- START @WRAPPER -->
        <section id="wrapper">

            <!-- START @PAGE CONTENT -->
            <section id="page-content" style="margin-left: 0px !important">

                <!-- Start page header -->
                <div class="header-content" style="display: inherit">
                    <h2>
                        <%= @professional.nome %> <span>Galeria de Fotos</span>
                            <% if @professional.whatsapp.present? %>
                                <div class='observacao'>
                                    <i class='fa fa-whatsapp'></i> <%= @professional.whatsapp %>
                                </div>
                            <% end %>
                            <% if @professional.telefone.present? %>
                                <div class='observacao'>
                                    <i class='fa fa-phone'></i> <%= @professional.telefone %>
                                </div>
                            <% end %>
                    </h2>
                </div><!-- /.header-content -->
                <!--/ End page header -->

                <!-- Start body content -->
                <div class="body-content animated fadeIn">

                    <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <button class="filter btn btn-primary btn-sm" data-filter="all">All</button>
                                <button class="filter btn btn-primary btn-sm" data-filter=".category-people">People</button>
                                <button class="filter btn btn-primary btn-sm" data-filter=".category-food" id="food">Food</button>
                                <button class="filter btn btn-primary btn-sm" data-filter=".category-animal">Animal</button>
                                <button class="filter btn btn-primary btn-sm" data-filter=".category-nature">Nature</button>
                                <button class="filter btn btn-primary btn-sm" data-filter="none">None</button>
                            </div>
                            <div class="pull-right">
                                <button class="sort btn btn-danger btn-sm" data-sort="random">Random</button>
                                <button class="sort btn btn-danger btn-sm" data-sort="value:asc">Ascending</button>
                                <button class="sort btn btn-danger btn-sm" data-sort="value:desc">Descending</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div> -->

                    <% generate_back_button_for_professional %>
                    <%= yield %>

                </div><!-- /.body-content -->
                <!--/ End body content -->

                <!-- Start footer content -->
                <footer class="footer-content">
                    2015 - 2016 - <span id="copyright-year"></span> &copy; SafiraSalões
                </footer><!-- /.footer-content -->
                <!--/ End footer content -->

            </section><!-- /#page-content -->
            <!--/ END PAGE CONTENT -->

        </section><!-- /#wrapper -->
        <!--/ END WRAPPER -->

        <!-- START @BACK TOP -->
        <div id="back-top" class="animated pulse circle">
            <i class="fa fa-angle-up"></i>
        </div><!-- /#back-top -->
        <!--/ END BACK TOP -->

        <%= javascript_include_tag 'application' %>

    </body>
    <!--/ END BODY -->

</html>
