<%= content_for :title, 'Comentar Fotos | SafiraSalões' %>

<%= form_for :photos, :url => wizard_path, :html => { :method => :put, class: 'form-horizontal' } do |f| -%>
  <% for photo in @photos %>
    <div class="form-group">
      <div class="col-xs-3 col-md-2 col-lg-2">
        <%= image_tag photo.image.url(:small), class: "preview" %>
      </div>
      <div class="col-xs-9 col-md-8 col-lg-5">
        <%= f.text_area :description, class: "form-control", placeholder: "Escreva aqui um comentário para sua foto...", name: "photos[#{photo.id}][description]", value: photo.description %>
      </div>
    </div>
  <% end %>
  <div class="panel-footer mt-30">
    <ul class="pager wizard no-margin">
      <li class="mr-15">
        <%= link_to new_photo_log_path, class: 'btn btn-warning btn-lg' do %>
          <span><i class="fa fa-angle-double-left"></i></span> Voltar
        <% end %>
      </li>
      <li>
        <%= button_tag type: 'submit', class: 'btn btn-success btn-lg' do %>
          Próximo Passo <span><i class="fa fa-angle-double-right"></i></span>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>
