<%= content_for :titulo, "Reenviar instruções de confirmação" %>
<%= content_for :title, 'Reenviar Instruções | SafiraSalões' %>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, class: "form-horizontal" }) do |f| %>

  <div class="form-group">
    <label class="control-label col-lg-3" for="inputEmail">Email</label>
    <div class="col-lg-9">
      <%= f.text_field :email, class: "form-control", placeholder: "Email", autofocus: true %>
    </div>
  </div>

  <div class="col-lg-9 col-lg-offset-3">
    <%= f.submit 'Reenviar instruções de confirmação',  class: "btn btn-info btn-sm" %>
  </div>
  <br />
<% end %>