  <div class="row">
    <div class="col-xs-12 col-md-6" style="float: right;">
      <h2>Editar Informações de Contato</h2>

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

        <% devise_error_messages! %>
        <div class="row">
          <div class="form-group">
            <div class="col-xs-12 col-md-12">
              <%= f.text_field :nome, class: "form-control input-sm", placeholder: "Nome", autofocus: true %>
            </div>
            <div class="col-xs-12 col-md-6">
              <%= f.text_field :telefone, class: "form-control input-sm telefone", placeholder: 'Telefone' %>
            </div>
            <div class="col-xs-12 col-md-6">
              <%= f.text_field :whatsapp, class: "form-control input-sm telefone", placeholder: 'WhatsApp' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-xs-12 col-md-12">
              <%= f.text_field :pagina_facebook, class: "form-control input-sm", placeholder: 'Página do Facebook' %>
            </div>
          </div>
        </div>
        Endereço
        <div class="row">
          <div class="form-group">
            <div class="col-xs-12 col-md-6">
              <%= f.text_field :rua, class: "form-control input-sm", placeholder: 'Logradouro (Rua, Av, Travessa...)' %>
            </div>
            <div class="col-xs-4 col-md-2">
              <%= f.text_field :numero, class: "form-control input-sm", placeholder: 'Nº' %>
            </div>
            <div class="col-xs-8 col-md-4">
              <%= f.text_field :bairro, class: "form-control input-sm", placeholder: 'Bairro' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-xs-12 col-md-6">
              <%= f.text_field :complemento, class: "form-control input-sm", placeholder: 'Complemento' %>
            </div>
            <div class="col-xs-7 col-md-4">
              <%= f.text_field :cidade, class: "form-control input-sm", placeholder: 'Cidade' %>
            </div>
            <div class="col-xs-5 col-md-2">
              <%= f.text_field :estado, class: "form-control input-sm", placeholder: 'Estado' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-xs-12 col-md-12">
              <%= f.text_field :site, class: "form-control input-sm", placeholder: 'Site' %>
            </div>
          </div>
        </div>

        <br />
        <%= f.submit "Atualizar", class: "btn btn-success" %>
        <br />
        <br />

      <% end %>
    </div>
    
    <div class="col-xs-12 col-md-6">
      <div class="white_fb_background">
        <div class="main_fb_content">
          <div class="fb_header">
            <%= image_tag("mulher.jpg", id: :mini_profile) %>
            <div class="fb_header_content">
                  Cliente de Souza
                <div class="posted_at">
                  11h · 
                  <i class="fa fa-globe"></i>
                </div>
            </div>
          </div>
          <div class="fb_content">
            <div id="info_contato">
            </div>
            <p class="fb_description">
            Este é um exemplo de postagem do seu cliente para que você entenda como suas informações de contato serão adicionadas à postagem dele. Altere suas informações de contato e veja o resultado aqui!!!
            </p>
          </div>
          <div>
            <%= image_tag("mulher.jpg", :alt => "E-Editora", id: :image) %>
          </div>
        </div>
      </div>
    </div>

</div>
