<%= content_for :title, 'Cadastrar | SafiraSalões' %>

<div id="cadastre">
  <%= image_tag "cadastre.png" %>
</div>

<!-- Login form -->
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { class: "sign-in form-horizontal shadow rounded no-overflow" }) do |f| %>
    <div class="sign-body">
      <div class="form-group" style="margin-top: 5%;">
        <%= link_to '/auth/facebook?scope=email&action=signup_or_signin', class: 'btn btn-primary btn-lg btn-block', style: 'background-color: #3b5998; font-size: 18px; border-radius: 6px;' do %>
          <span><i class='fa fa-facebook'></i><b style="padding-left: 20px">Cadastre com o Facebook</b></span>
        <% end %>

        <div class="hr">
          <div class="text-divider">ou</div>
        </div>

        <div class="centered">
          Cadastre com seu email
        </div>
      </div>
      <div class="form-group">
          <div class="input-group input-group-lg rounded no-overflow">
            <%= f.text_field :email, class: "form-control input-sm", placeholder: "Email" %>
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          </div>
      </div><!-- /.form-group -->
      <div class="form-group">
          <div class="input-group input-group-lg rounded no-overflow">
            <%= f.password_field :password, class: "form-control  input-sm", placeholder: "Senha" %>
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          </div>
      </div><!-- /.form-group -->
      <div class="form-group">
          <div class="input-group input-group-lg rounded no-overflow">
            <%= f.password_field :password_confirmation, class: "form-control input-sm", placeholder: "Confirme sua Senha" %>
            <span class="input-group-addon"><i class="fa fa-check"></i></span>
          </div>
      </div><!-- /.form-group -->
    </div><!-- /.sign-body -->
    <div class="sign-footer">
      <div class="form-group">
        <%= button_tag 'Cadastrar', class: "btn btn-theme btn-lg btn-block no-margin rounded", id: "login-btn", type: 'submit' %>
      </div><!-- /.form-group -->
    </div><!-- /.sign-footer -->
<% end %><!-- /.form-horizontal -->

<p class="text-muted text-center sign-link">Já é cadastrado?
  <%= link_to "Entre agora", new_session_path(resource_name) %>
</p>
