<%= content_for :titulo, 'Alterar senha' %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, class: 'form-horizontal' }) do |f| %>
  
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <label class="control-label col-lg-3" for="inputEmail">Nova Senha</label>
    <div class="col-lg-9">
      <%= f.password_field :password, class: "form-control", autofocus: true, placeholder: "Nova senha" %>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-lg-3" for="inputEmail">Confirme a nova senha</label>
    <div class="col-lg-9">
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirme a nova senha" %>
    </div>
  </div>

  <div class="col-lg-9 col-lg-offset-3">
    <%= f.submit 'Alterar senha',  class: "btn btn-info btn-sm" %>
  </div>
  <br />
<% end %>
