<%= content_for :titulo, 'Resgatar senha' %>
<%= content_for :title, 'Solicitar Troca de Senha | SafiraSalões' %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: 'form-horizontal' }) do |f| %>
  <div class="form-group">
    <label class="control-label col-lg-3" for="inputEmail">Email</label>
    <div class="col-lg-9">
      <%= f.email_field :email, class: "form-control", placeholder: "Email", :autofocus => true %>
    </div>
  </div>

  <div class="col-lg-9 col-lg-offset-3">
    <%= f.submit 'Enviar instruções para alteração de senha',  class: "btn btn-info btn-sm" %>
  </div>
  <br />
<% end %>
