<%= content_for :title, 'Solicitar Troca de Senha | SafiraSalões' %>

<!-- Login form -->
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { class: "sign-in form-horizontal shadow rounded no-overflow" }) do |f| %>
    <div class="sign-body">
      <div class="form-group">
          <div class="input-group input-group-lg rounded no-overflow">
            <%= f.email_field :email, class: "form-control", placeholder: "Email", :autofocus => true %>
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          </div>
      </div><!-- /.form-group -->
    </div><!-- /.sign-body -->
    <div class="sign-footer">
      <div class="form-group">
        <%= button_tag 'Solicitar Alteração de Senha', class: "btn btn-theme btn-lg btn-block no-margin rounded", id: "login-btn", type: 'submit' %>
      </div><!-- /.form-group -->
    </div><!-- /.sign-footer -->
<% end %><!-- /.form-horizontal -->

<p class="text-muted text-center sign-link">Lembrou a senha?
  <%= link_to "Entre agora", new_session_path(resource_name) %>
</p>
