<%= form_for @schedule, remote: true do |f| %>
  <div class="field">
    <%= f.label :nome_do_cliente %><br>
    <%= f.number_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :serviço %><br>
    <%= f.select :service_id, current_professional.services.collect {|p| [ p.nome, p.id ] } %>
  </div>
  <div class="field">
    <%= f.label :início %><br>
    <%= f.datetime_select :datahora_inicio %>
  </div>
  <div class="field">
    <%= f.label :fim %><br>
    <%= f.datetime_select :datahora_fim %>
  </div>
  <%= f.hidden_field :id %>
  <div class="actions">
    <%= f.submit 'Marcar Horário' %>
  </div>
<% end %>
