<%= content_for :title, 'Divulgador | SafiraSalões' %>

<% content_for :modals do %>
  <!-- Modal -->
  <div class="modal fade" id="myModalError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Erro</h4>
        </div>
        <div class="modal-body">
          Um erro inesperado ocorreu. Tente novamente.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <%= form_for @schedule, remote: true, onsubmit: "", html: { class: 'form-vertical', autocomplete: "off" } do |f| %>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Estimular Divulgação</h4>
          </div>
          <div class="modal-body">
            <div id="errors"></div>
            <%= render "form", f: f %>
          </div>
          <div class="modal-footer">
            <div class="panel-footer no-border">
              <ul class="pager wizard no-margin">
                <li class="mr-15">
                  <button type="button" class="btn btn-warning btn-lg" data-dismiss="modal">Cancelar</button>
                </li>
                <li>
                  <%= button_tag 'Estimular', data: { disable_with: "Enviando SMS..." }, class: 'btn btn-success btn-lg btn-next', type: 'submit' %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="modal fade" id="myCarouselModal" tabindex="-1" role="dialog" aria-labelledby="myCarouselModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myCarouselModalLabel">Próximos Passos...</h4>
        </div>
        <div class="modal-body">
          <%= render "carousel_tour" %>
          <div id="content-for-mobile">
          </div>
        </div>
        <div class="modal-footer">
          <div class="panel-footer no-border">
            <ul class="pager wizard no-margin">
              <li class="mr-15">
                <button type="button" class="btn btn-warning btn-lg" id="prev_car_tour">Anterior</button>
              </li>
              <li>
                <button type="button" class="btn btn-success btn-lg" id="next_car_tour">Próximo</button>
                <a type="button" class="btn btn-success btn-lg hide" href="" id="create_reward_link">Criar Recompensa</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="smsContent" tabindex="-1" role="dialog" aria-labelledby="smsContentLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="smsContentLabel"></h4>
        </div>
        <div class="modal-body" id="smsContentBody">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

<% end %>

<div><button class="btn btn-warning btn-lg btn-block rounded mb-30 mt-20" id="btn_agendar"><div class="text-strong">INFORMAR CLIENTE E SERVIÇO</div><div class="observacao no-margin text-strong" style="font-size: 0.7em;">*Clique aqui ou na data desejada abaixo</div></btn></div>
<div id="calendar_feedback"></div>
<div id="calendar"></div>