<%= content_for :title, 'Divulgador | SafiraSalões' %>

<% content_for :modals do %>
  <!-- Modal -->
  <div class="modal fade" id="myModalError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Erro</h4>
        </div>
        <div class="modal-body">
          Um erro inesperado ocorreu. Tente novamente.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <%= form_for @schedule, remote: true, onsubmit: "", html: { class: 'form-vertical', autocomplete: "off" } do |f| %>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Estimular Divulgação</h4>
          </div>
          <div class="modal-body">
            <div id="errors"></div>
            <%= render "form", f: f %>
          </div>
          <div class="modal-footer">
            <div class="panel-footer no-border">
              <ul class="pager wizard no-margin">
                <li class="mr-15">
                  <button type="button" class="btn btn-warning btn-lg" data-dismiss="modal">Cancelar</button>
                </li>
                <li>
                  <%= button_tag 'Estimular', data: { disable_with: "Enviando SMS..." }, class: 'btn btn-success btn-lg btn-next', type: 'submit' %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="modal fade" id="myCarouselModal" tabindex="-1" role="dialog" aria-labelledby="myCarouselModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myCarouselModalLabel">Próximos Passos...</h4>
        </div>
        <div class="modal-body">
          <%= render "carousel_tour" %>
          <div class="content-for-mobile">
          </div>
        </div>
        <div class="modal-footer">
          <div class="panel-footer no-border">
            <ul class="pager wizard no-margin">
              <li class="mr-15">
                <button type="button" class="btn btn-warning btn-lg" id="prev_car_tour">Anterior</button>
              </li>
              <li>
                <button type="button" class="btn btn-success btn-lg" id="next_car_tour">Próximo</button>
                <a type="button" class="btn btn-success btn-lg hide" href="" id="create_reward_link">Criar Recompensa</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="doubtTour" tabindex="-1" role="dialog" aria-labelledby="doubtTourLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header italic">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          
          <div class="media">
            <a class="pull-left has-notif avatar">
              <img alt="Picture" src="http://graph.facebook.com/1127817237243897/picture" style="border-radius: 100%; border: 2px solid;">
            </a>

            <div class="media-body">
              <h4 class="media-heading">Dúvidas, <span><%= current_professional.nome.titleize %>?</span></h4>
              <small style="line-height: 15px;">Sou o Cristiano e irei te mostrar como usar o SafiraSalões!</small>
            </div>
          </div>

        </div>
        <div class="modal-body">
          <%= render "carousel_doubt_tour" %>
          <div class="content-for-mobile">
          </div>
        </div>
        <div class="modal-footer">
          <div class="panel-footer no-border">
            <ul class="pager wizard no-margin">
              <li class="mr-15">
                <button type="button" class="btn btn-warning btn-lg" id="prev_car_tour1">Anterior</button>
              </li>
              <li>
                <button type="button" class="btn btn-success btn-lg" id="next_car_tour1">Próximo</button>
                <button type="button" class="btn btn-success btn-lg hide" id="activate_modal" style="white-space: normal">Marcar Cliente e Estimular Divulgação</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="smsContent" tabindex="-1" role="dialog" aria-labelledby="smsContentLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="smsContentLabel"></h4>
        </div>
        <div class="modal-body" id="smsContentBody">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

<% end %>


<div id="calendar_feedback"></div>
<div id="calendar" style="margin-top: 15px;"></div>