<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Solicitação Enviada com Sucesso</h4>
      </div>
      <div class="modal-body">
        Sua Solicitação de Troca foi enviada com sucesso. Compareça ao estabelecimento no horário marcado e receba o serviço gratuitamente.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok. Entendi.</button>
      </div>
    </div>
  </div>
</div>

<h1>Enviar Solicitação de Troca</h1>

<% @my_professionals.each do |pr| %>

  <div class="col-xs-12 col-md-12 stablishment">
    <div class="col-xs-12 col-md-12">
      <h3><strong><%= "#{pr.nome.titleize} (Suas Safiras: #{total_safiras(pr.id)})" %></strong></h3>
    </div>
    
    <% pr.services.each do |srv| %>
      <%- sc = get_schedules(srv.id) -%>
      <div class="col-xs-12 col-md-12 service<%='-scheduled' if scheduled?(srv.id) %>">
        <div class="col-xs-12 col-md-8">
          <h5>Serviço: <%= srv.nome %></h5>
          <h5>Preço: <%= number_to_currency(srv.preco) %></h5>
          <h5>Recompensa: <%= pluralize(srv.recompensa_divulgacao, 'safira') %> <span><i class="fa fa-question-circle" data-toggle="popover" data-trigger="hover" data-placement="left" data-html="true" title="Recompensa por Divulgação"
          data-content="Ganhe esta recompensa marcando um horário para este serviço e, logo após, enviando as fotos do seu novo visual para o SafiraSalões."></i></span> </h5>
          <% insert_data_and_time(sc.datahora_inicio) if scheduled? %>
        </div>
        <% insert_button(srv.preco, sc) %>
      </div>
    <% end %>
  </div>
  
<% end %>

<%= link_to 'Voltar', customer_root_path %>