<!--START @HEADER -->
<header id="header">

    <!-- Start header left -->
    <div class="header-left">
        <!-- Start offcanvas left: This menu will take position at the top of template header (mobile only). Make sure that only #header have the `position: relative`, or it may cause unwanted behavior -->
        <div class="navbar-minimize-mobile left">
            <i class="fa fa-bars"></i>
        </div>
        <!--/ End offcanvas left -->

        <!-- Start navbar header -->
        <div class="navbar-header" style="background-color: #c4e2bb">

            <!-- Start brand -->
            <%= link_to '', class: "navbar-brand" do %>
                <%= image_tag "logo175x50.png", class: 'logo', alt: 'SafiraSalões' %>
            <% end %>
            
            <!--/ End brand -->

        </div><!-- /.navbar-header -->
        <!--/ End navbar header -->

        <!-- Start offcanvas right: This menu will take position at the top of template header (mobile only). Make sure that only #header have the `position: relative`, or it may cause unwanted behavior -->
        <div class="navbar-minimize-mobile right" id="tutorial" data-auto-start="<%= @step_taken.nil? ? false : !@step_taken %>" data-tour="<%= build_tour_steps %>">
            <i class="fa fa-question"></i>
        </div>
        <!--/ End offcanvas right -->

        <div class="clearfix"></div>
    </div><!-- /.header-left -->
    <!--/ End header left -->

    <!-- Start header right -->
    <div class="header-right">
        
        <!-- Start navbar toolbar -->
        <div class="navbar navbar-toolbar">

            <!-- Start left navigation -->
            <ul class="nav navbar-nav navbar-left">

                <!-- Start sidebar shrink -->
                <li class="navbar-minimize">
                    <a href="javascript:void(0);" title="Minimize sidebar">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
                <!--/ End sidebar shrink -->

                <!--/ End form search -->

            </ul><!-- /.navbar-left -->
            <!--/ End left navigation -->

            <ul class="nav navbar-nav navbar-right"><!-- /.nav navbar-nav navbar-right -->
                <!-- Start profile -->
                <li class="navbar-setting pull-right" style="font-size: 24px; border-left: 1px solid #dddddd; padding: 16px 15px 13px; color: white; background-color: #81b71a;" id="tutorial" data-auto-start="<%= @step_taken.nil? ? false : !@step_taken %>" data-tour="<%= build_tour_steps %>">
                    <span><i class="fa fa-question"></i></span>
                </li>
                <!--/ End profile -->
            </ul>


        </div><!-- /.navbar-toolbar -->
        <!--/ End navbar toolbar -->
    </div><!-- /.header-right -->
    <!--/ End header left -->

</header> <!-- /#header -->
<!--/ END HEADER -->