<div class="modal fade" id="fbModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Só mais um passo...</h4>
      </div>
      <div class="modal-body">
        <p>
        <b>Ótimas notícias!</b> Suas fotos foram salvas em nosso sistema e agora basta enviá-las para seu Facebook<span id="msgForInfoAdded" style='display:none'> para que você receba suas recompensas</span>.
        </p>
        <p>
          Mas não se preocupe! Nós faremos isso por você. Basta que você nos dê sua permissão clicando no botão abaixo.
        </p>
        <p>
          <%= link_to customer_omniauth_authorize_path(:facebook), class: 'btn btn-primary' do %>
            <i class="fa fa-facebook-official"></i>
            <span>OK! Publique Minhas Fotos!</span>
          <% end %>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Não Quero Recompensas</button>
        </p>
      </div>
    </div>
  </div>
</div>

<%= form_for PhotoLog.new, :html => { :multipart => true, :id => "fileupload"  } do |f| %>
  
  <div style="margin-bottom: 20px;">
    Enviando fotos para: 
    <%= f.select :schedule_id, @scs.collect { |sc| ["#{sc.professional.nome} pelo serviço #{sc.service.nome}", sc.id] }, {} %>
  </div>

  <!-- The fileinput-button span is used to style the file input field as button -->
  <span class="btn btn-success fileinput-button">
    <i class="fa fa-plus"></i>
    <span>Escolher Fotos...</span>
    <%= f.file_field :image, multiple: true, name: 'photo_log[image]' %>
  </span>

  <!-- The loading indicator is shown during image processing -->
  <div class="fileupload-loading"></div>
  <br />

  <!-- The table listing the files available for upload/download -->
  <table class="table table-striped" style="margin-top: 40px;">
    <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
  </table>

<% end %>

<% @scs.each do |sc| %>
  <input type="text" id="profContactInfo<%= sc.id %>" value="<%= simple_format(sc.professional.contact_info) %>" style="display: none">
<% end %>

<%= link_to "Próximo Passo", photo_log_steps_path, id: 'photo_log_start_wizard' %>
