<h1>Listing photo_logs</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Professional</th>
      <th>Schedule</th>
      <th>Service</th>
      <th>Safiras</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photo_logs.each do |photo_log| %>
      <tr>
        <td><%= photo_log.customer_id %></td>
        <td><%= photo_log.professional_id %></td>
        <td><%= photo_log.schedule_id %></td>
        <td><%= photo_log.service_id %></td>
        <td><%= photo_log.safiras %></td>
        <td><%= link_to 'Show', photo_log %></td>
        <td><%= link_to 'Edit', edit_photo_log_path(photo_log) %></td>
        <td><%= link_to 'Destroy', photo_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo log', new_photo_log_path %>
