<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @photo_log.customer_id %>
</p>

<p>
  <strong>Professional:</strong>
  <%= @photo_log.professional_id %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @photo_log.schedule_id %>
</p>

<p>
  <strong>Service:</strong>
  <%= @photo_log.service_id %>
</p>

<p>
  <strong>Safiras:</strong>
  <%= @photo_log.safiras %>
</p>

<%= link_to 'Edit', edit_photo_log_path(@photo_log) %> |
<%= link_to 'Back', photo_logs_path %>
