<%= content_for :title, 'Compartilhar | SafiraSalões' %>


<%= form_for :photos, :html => { :method => :put, class: 'sign-in form-horizontal shadow rounded no-overflow cliente-divulgando-fotos' } do |f| -%>

  <div class="panel-body prof-info hidden"><%= simple_format @prof_info  %></div>
  
  <div class="sign-header no-padding">
    <div class="form-group">

         <div class="sign-text-without-before italic">
        <% if @professional.avatar_url.present? %>
          <%= image_tag @professional.avatar_url, class: "img-circle" %>
        <% end %>
        <p style="text-transform: none;"><%= @professional.nome.titleize %></p>
      </div>
        
      <div>
        <p style="text-transform: none;"><span class="text-strong">INSTRUÇÕES:</span></p>
        <ol>
          <li>Compartilhe pelo menos 1 foto;</li>
          <li>Acesse seu Facebook e clique na foto compartilhada.</li>
        </ol>
        <p style="text-transform: none;"><span class="text-strong">RECOMPENSA: <%= pluralize(@ci.recompensa, 'safira') %></span></p>
        

      </div>
    </div>
  </div>

  <div class="sign-body" style="padding: 15px 0px;">
    <div class="form-group">
      
      <!-- Aqui começa marcação para fotos-->
      <ul class="chats no-padding">
        <% for photo in @photos %>
          <li class="by-me">
            <div class="avatar pull-left">
              <%= image_tag photo.image.url(:small), class: 'preview' %>
            </div>
            <div class="chat-content">
              <div class="aguarde">
                Estamos gerando os botões para compartilhamento. Aguarde... <i class="fa fa-spinner fa-pulse"></i>
              </div>
              <div class="share_buttons">
                <%= button_tag type: 'button', class: 'btn btn-sm btn-sm-fb rounded fb-enjoy', data: get_fb_parameters_for_sharing_button(photo) do %>
                  <i class="fa fa-facebook-official"> Compartilhar</i>
                <% end %>
              </div>
              <div class="clearfix"></div>
            </div>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
<% end %>