<!DOCTYPE html>
<html class="fuelux">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>SafiraSaloes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author"   content="safirasaloes.com.br">
    <meta name="robots"   content="none" />

    <%= stylesheet_link_tag   'application', media: 'all' %>
    <%= favicon_link_tag      'favicon.png', rel: "shortcut icon" %>
    <%= csrf_meta_tags %>
    <%# render "layouts/faye/professional" if current_resource.instance_of? Professional %>
    <%# render "layouts/faye/customer" if current_resource.instance_of? Customer %>

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <%= render "layouts/main_header" %>
    <%= render "layouts/secondary_header" %>
    <div class="content">
      <%= render "layouts/sidebar" unless current_professional.suspenso? %>
      <%= yield :modals unless current_professional.suspenso? || current_professional.bloqueado? %>
      <%= render "layouts/main_content" unless current_professional.suspenso? %>
    </div>
    <%= render "layouts/footer" %>
    <%= javascript_include_tag 'application' %>
    <%= subscribe_to "/order_exchanges/#{current_professional.id}" %>
  </body>
</html>